<div class="col-md-4 col-md-offset-4">
  <h2 编辑电影版</h2>

  <hr>
  <%= form_for @imovie do |f| %>

  电影名称
  <%= f.text_field :电影名称 %>
  <br>
  简介
  <br>
  <%= f.text_area :简介 %>
  <br>

  <%= f.submit "提交", :disable_with => '提交不成功' %>
  <% end %>

</div>
